* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
}

.navbar{
    background-color: #fbb034;
    background-image: linear-gradient(315deg, #fbb034 50%, #ffdd00 50%);
    height: 10vh;
    width: 100%;
}


 body{
    background-color: #fffcfe;
    display: flex;
 }

 .navbar-brand{
   height: 90px;
   width: 60px;
 }


 /*------------->BUSCADOR<------------*/
.buscador{
          text-align: center;
}
 
 .img-fluid{
    height: 300px;
    width: 100%;
    float: center;
    z-index: 1;width:35vw; height:15vw;
  }


.sombra:hover {
  filter: opacity(.5);
  }


.btn-warning{
   background-color: #fbb034 ;

  }


 /*------------->RECETAS<------------*/
.fondo{
    background-image: url(../imagenes/ejemplo1.png);
}

 .SectionRecetas{
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
}

.contenedorRecetas{
    border: 1px solid black;
    height: 300px;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
}

#contenedorRecetaImgMedio{
    align-items: flex-end;
}

.contenedorRecetaImg{
    border: 1px solid black;
    width: 25%;
    height: 85%;
    margin: 10px;
    align-self: center;
}

/*-----------FOOTER------------*/

 .footer{
  height: auto;
  width: 100%;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: #fbb034;
  background-image: linear-gradient(315deg, #ffdd00 50%, #fbb034 50%);
  align-self: baseline;
  
 }

.footer-logos {
  display: flex;
  flex-direction: row;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  gap: 3rem;
  
}

.copy{
display: flex;
margin-top: 10px;
align-self:center;

 } 

.logo-links{
  color: #000;

}

