* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;  
    font-size: 20px;
}

html {
  scroll-behavior: smooth;
}

 body{
    background-color: #E3F2DC;
    display: flex;
    flex-direction: column;
 }
/*---------->NAVBAR<-----------*/
.navbar-brand{
  height: 57px;
  width: 35px;
}
.navbar{
    background-color: #9FBFA1;
    background-image: linear-gradient(315deg, #add466 50%, #CFFC79 50%);
    height: 8vh;
    width: 100%;
}

.navbar-nav{
  width: 100%;
  justify-content: space-between;
  text-align: center;
}

.navbar-nav li {
  width: 150px;
  height: max-content;
}

.navbar-nav li a {
  transition: color 0.3s ease-in-out;
  font-family: 'Raleway', sans-serif;  
  /* font-weight: bold; */
}
.navbar-nav li a:hover {
  color: #fff;
}
.navbar-nav li a {
  position: relative;
  overflow: hidden;
}
.navbar-nav li a::before {
  content: '';
  position: absolute;
  bottom: -3px; 
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #9FBFA1; 
  transition: transform 0.3s ease-in-out;
  transform: scaleX(0);
  transform-origin: center;
}
.navbar-nav li a:hover::before {
  transform: scaleX(1); 
}

.nav-link{
  font-size: medium;
}



 /*------------->BUSCADOR<------------*/

 .buscador{
  background-image: url(/imagenes/FondoCondimentos4.jpg);
  background-position: top;
  background-size: cover;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
  margin-bottom: 20px;
}

#search{
height: 40;
width: 450px;
border-radius: 10px;
box-shadow:2px 2px 5px black;
margin-right: 7px;
}

.img-fluid{
height: 300px;
width: 100%;
float: center;
z-index: 1;width:35vw; height:15vw;
}

.sombra:hover {
filter: opacity(.5);
}

.containerSearch{
width: 100%;
padding: 32px;
}

.btn-warning{
 background-color: #fbb034 ;
 box-shadow:2px 2px 5px black;
 height: 30px;
 width: 100px;
 font-size: 12px;
}

#search {
  height: 40px;
  width: 350px; 
  border: none;
  border-radius: 20px;
  padding: 10px;
  font-size: 16px;
  transition: width 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}


#botonBusqueda {
  height: 40px;
  width: 100px; 
  border: none;
  border-radius: 20px;
  background-color: #fbb034;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}


#search:focus {
  width: 400px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
}


#botonBusqueda:hover {
  background-color: #ffdd00; 
}
  /*---------BOTONES------------ */

  .containerBotones button{
    width: 15%;
    height: 35px;
    border: 0px;
    color: #000;
    font-size: medium;
    box-shadow:2px 2px 5px black;
    margin-left: 3px;
    margin-right: 3px;
  }
  
  
  #boton2{
        font-size: 17px;
  }
  
  #boton1{
        color: black;
        font-family: 'Nunito', sans-serif;
        font-size: 17px;
  }
  
  .containerBotones {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap; 
    padding: 20px;
  }
  
  .containerBotones button {
    width: 150px; 
    height: 40px; 
    border: none;
    border-radius: 20px;
    margin-bottom: 10px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  
  .containerBotones button:hover {
    background-color: #ccc; 
    color: #000;
  }

/*---------RESULTADOS---------*/

.fondo{
  background-image: url(../../imagenes/ejemplo1.png);
}
.resultadoContainer{
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
  width: 300px;
  height: 400px;
    
}
.resultadoContainer h5{
  font-weight: bold;
}
.card {
  background-color: #add466;
  height: 100%;
}

#ResultadoCointainer{
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 justify-content: center;
}

.resultadoContainer {
  margin: 10px;
  width: 350px; /* Ajusta según tus necesidades */
  height: 450px; /* Ajusta según tus necesidades */

}

.sellos{
  height: 80px;
  width: 80px;
}
.card-img-top {
  object-fit: cover;
  height: 60%;
  width: 100%;
}
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

  /*-----------FOOTER------------*/

  .footer{
    height: auto;
    width: 100%;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: #fbb034;
    background-image: linear-gradient(315deg, #add466 50%, #CFFC79 50%);
    align-self: baseline;
    position:fixed;
    bottom: 0;
    
   }
  
  .footer-logos {
    display: flex;
    flex-direction: row;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    gap: 3rem;
    
  }
  
  .copy{
  display: flex;
  margin-top: 10px;
  align-self:center;
  
   } 
  
  .logo-links{
    color: #000;
  
  }