* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
}

.navbar{
    background-color: #fbb034;
    background-image: linear-gradient(315deg, #fbb034 0%, #ffdd00 74%);
    height: 10vh;
    width: 100%;
}


 body{
    background-color: #fff;
    /* background-image: url( imagenes/logo-chiquito.png); */
 }

 .navbar-brand{
   height: 60px;
   width: 60px;
 }


 /*------------->BUSCADOR<------------*/

 .img-fluid{
    height: 300px;
    width: 100%;
    float: center;
  }


.sombra:hover {
  filter: opacity(.5);
  }


.btn-warning{
   background-color: #fbb034 ;

  }


 /*------------->RECETAS<------------*/
.SectionRecetas{
    display: flex;
    flex-direction: column;
}

.contenedorRecetas{
    border: 1px solid black;
    height: 200px;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    justify-content: flex-start;
}

#contenedorRecetaImgMedio{
    align-items: flex-end;
}

.contenedorRecetaImg{
    border: 1px solid black;
    width: 25%;
    height: 85%;
    margin: 10px;
    align-self: center;
}

 .footer{
  height: auto;
  width: 100%;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: #fbb034;
  background-image: linear-gradient(315deg, #fbb034 0%, #ffdd00 74%);
 
  
 }

.footer-logos {
  display: flex;
  flex-direction: row;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  gap: 3rem;
  
}

.copy{
display: flex;
margin-top: 10px;
align-self:center;

 } 

.logo-links{
  color: #000;

}

.contenedorTotal {
  width: 70%; /* Ancho de la tarjeta */
  border: 1px solid #000000;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px;
  text-align: center;
  display: flex;
  
}
.fotoIndividual{
  border: 1px solid #000000;
  
 
}

.contenedorTextos{
align-items: center;

 
}

.titulo{
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
}

.texto{
  width: 100%;
  margin: 0 auto;
}