* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
}

.navbar{
    background-color: #fbb034;
    background-image: linear-gradient(315deg, #fbb034 0%, #ffdd00 74%);
    height: 10vh;
    width: 100%;
}


 body{
    background-color: #fff;
 }

 .navbar-brand{
   height: 60px;
   width: 60px;
 }


 /*------------->BUSCADOR<------------*/

 .img-fluid{
    height: 300px;
    width: 100%;
    float: center;
  }


.sombra:hover {
  filter: opacity(.5);
  }


.btn-warning{
   background-color: #fbb034 ;

  }


 /*------------->RECETAS<------------*/
.SectionRecetas{
    display: flex;
    flex-direction: column;
}

.contenedorRecetas{
    border: 1px solid black;
    height: 200px;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    justify-content: flex-start;
}

#contenedorRecetaImgMedio{
    align-items: flex-end;
}

.contenedorRecetaImg{
    border: 1px solid black;
    width: 25%;
    height: 85%;
    margin: 10px;
    align-self: center;
}
<<<<<<< HEAD
=======
>>>>>>> Stashed changes
>>>>>>> agus-branch

 .footer{
  height: auto;
  width: 100%;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: #fbb034;
  background-image: linear-gradient(315deg, #fbb034 0%, #ffdd00 74%);
 
  
 }
/*
.btn{
  background-color: #fbb034;
  color: white;
  padding: 10px 20px;
  border-radius: 15px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #ffdd00;
  transform: scale(1.05);
}
*/

.footer-logos {
  display: flex;
  flex-direction: row;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  gap: 3rem;
  
}

.copy{
display: flex;
margin-top: 10px;
align-self:center;

 } 

.logo-links{
  color: #000;

}

